<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangsang.demo.mapper.PojoUserMapper">

    <select id="getUserList" resultType="com.sangsang.demo.domain.vo.UserVo">
        <bind name="key_offset" value="(pageNum-1)*pageSize"></bind>
        select *
        from demo_pojo_user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
        </where>
        order by create_time desc
        limit #{key_offset}, #{pageSize}
    </select>

    <select id="countUserList" resultType="java.lang.Long">
        select count(*)
        from demo_pojo_user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
        </where>
    </select>

    <select id="getUserById" resultType="com.sangsang.demo.domain.vo.UserVo">
        select *
        from demo_pojo_user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.sangsang.demo.domain.dto.UserSaveDto">
        insert into demo_pojo_user (user_name, login_name, login_pwd, phone, org_seq, create_time, update_time)
        values (#{userName}, #{loginName}, #{loginPwd}, #{phone}, #{orgSeq}, now(), now())
    </insert>

    <update id="updateUser" parameterType="com.sangsang.demo.domain.dto.UserUpdateDto">
        update demo_pojo_user
        <set>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="loginName != null">login_name = #{loginName},</if>
            <if test="loginPwd != null and loginPwd != ''">login_pwd = #{loginPwd},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="orgSeq != null">org_seq = #{orgSeq},</if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUserById">
        delete
        from demo_pojo_user
        where id = #{id}
    </delete>

    <resultMap id="UserResultType" type="com.sangsang.demo.domain.vo.UserResultMapVo">
        <id property="ID" column="id"/>
        <result property="mobilePhone" column="phone"/>
        <result property="telephone" column="phone"/>
        <result property="uSERNaMe" column="user_NAMe"/>
        <result property="loginName" column="LOGin_name"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="orgSeq" column="ORG_SEQ"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>
    <select id="getUserResultMapList"
            resultMap="UserResultType">
        select
            id,
            user_name,
            phone,
            phone as phoneCall,
            login_name,
            login_pwd,
            org_seq,
            create_time,
            update_time
        from demo_pojo_user
        order by create_time desc limit 10
    </select>
    <select id="getUserResultTypeList"
            resultType="com.sangsang.demo.domain.vo.UserResultTypeVo">
        select *
        from demo_pojo_user
        order by create_time desc limit 10
    </select>
    <select id="getUserUnderLineList"
            resultType="com.sangsang.demo.domain.vo.UserUnderLineVo">
        select
               id          as id,
               user_name   as uSer_Name,
               phone       as phone,
               login_name  as login_name,
               login_pwd   as logIn_Pwd,
               org_seq     as orG_Seq,
               create_time as create_Time,
               update_time as updAte_Time
        from demo_pojo_user
        order by create_time desc limit 10
    </select>
    <select id="getUserMapList"
            resultType="java.util.Map">
        select id,
               user_name,
               phone as mobile_phone,
               login_name,
               login_pwd,
               org_seq,
               create_time,
               update_time
        from demo_pojo_user
        order by create_time desc limit 10
    </select>
    <select id="getUserPhoneList"
            resultType="java.lang.String">
        select phone
        from demo_pojo_user
        order by create_time desc limit 10
    </select>
</mapper>
